.header-container{
  width: 100%;
  padding: 24px 13px;
  padding-bottom: 8px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.header{
  position: relative;
  margin-bottom: 16px;
  width: 100%;
}

.icon{
  color: #1EEB00;
  position: absolute;
  left: 0;
  top: 50%;
  transform: translateY(-50%);
}

.title{
  margin: 0;
  font-size: 16px;
  line-height: 22px;
  font-weight: bold;
  text-align: center;
  color: #004B40;
}
