.content {
  padding: 24px;
  height: 100%;
  display: flex;
  flex-direction: column;
}

.message {
  padding: 24px 0;
  display: flex;
  gap: 23px;
  border-bottom: 1px solid #1eea00;
  margin-bottom: 32px;
  img {
    width: 72px;
  }
  p {
    font-family: "Avenir LT Std", sans-serif;
    color: #757575;
    font-size: 16px;
    line-height: 19px;
    font-weight: 500;
  }
  span {
    font-weight: 700;
  }
}

.input-container {
  background: #fafafa;
  width: 100%;
  padding: 14px 40px;
  border-radius: 5px;
  box-shadow: #3535351a 0px 5px 5px;
  input {
    outline: none;
    font-size: 22px;
    text-align: center;
    font-weight: 500;
    color: #212121;
    width: 100%;
    border: none;
    background: transparent;
  }
}

.overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  background: tomato;
  z-index: 10000;
}
