.content{
  height: 100%;
  display: flex;
  flex-direction: column;
}

.main-info{
  margin-top: 144px;
}

.logo-container{
  display: flex;
  justify-content: center;
}

.logo{
   width: 126px;
   margin-bottom: 40px;
}

.title{
 color: #1EEA00;
 font-size: 18px;
 line-height: 24px;
 font-weight: bold;
 text-align: center;
 margin: 0px 46px;
}

.btn-container{
  padding: 0 25px;
  margin-bottom: 40px;
}

.btn{
  width: 100%;
  display: block;
  padding: 16px;
  font-size: 16px;
  line-height: 18px;
  font-weight: bold;
  border-radius: 40px;
  margin-bottom: 16px;
  position: relative;
  overflow: hidden;
}

.primary {
  background: #1EEA00;
  color: #004B40;
}

.secondary{
  background: #004B40;
  color: #FFFFFF;
}


.spacer{
  flex: 1;
}
