<ion-content>
  <div class="content">
    <div class="main-info">
      <figure class="logo-container">
        <img class="logo" src="/assets/images/logo-1.svg" alt="coink">
      </figure>
      <h1 class="title">LA ALCANCÍA QUE SIEMPRE TE ACOMPAÑA</h1>
    </div>
    <div class="spacer"></div>
    <div class="btn-container">
      <button routerLink="/phone-number" class="btn primary ion-activatable">
        REGÍSTRATE
        <ion-ripple-effect></ion-ripple-effect>
      </button>
      <button class="btn secondary ion-activatable">
        INGRESA
        <ion-ripple-effect></ion-ripple-effect>
      </button>
    </div>
  </div>
</ion-content>
