<ion-item [class.error]="error" id="open-date">
  <ion-label position="floating">{{ label }}</ion-label>
  <ion-input
    (ionBlur)="onBlur()"
    inputmode="none"
    (ionFocus)="toggleModal()"
    [value]="date">
  </ion-input>
</ion-item>
<ion-modal (didDismiss)="closeModal()"  [isOpen]="openModal">
  <ng-template>
    <ion-content>
      <ion-datetime
        #datetime
        (ionChange)="onChangeDate(datetime.value)"
        showDefaultButtons="true"
        presentation="date">
      </ion-datetime>
    </ion-content>
  </ng-template>
</ion-modal>
