.header-container{
  width: 100%;
  padding: 24px 13px;
  padding-bottom: 8px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.header{
  position: relative;
  margin-bottom: 16px;
  width: 100%;
}

.icon{
  color: #1EEB00;
  position: absolute;
  left: 0;
  top: 50%;
  transform: translateY(-50%);
}

.title{
  margin: 0;
  font-size: 16px;
  line-height: 22px;
  font-weight: bold;
  text-align: center;
  color: #004B40;
}


.content{
  padding: 24px;
  height: 100%;
  display: flex;
  flex-direction: column;
}

.message{
  padding: 24px 0;
  display: flex;
  gap: 23px;
  border-bottom: 1px solid #1EEA00;
  margin-bottom: 32px;
  img {
    width: 72px;
  }
  p{
    color: #757575;
    font-size: 16px;
    line-height: 19px;
    font-weight: 500;
  }
  span {
    font-weight: 700;
  }
}

.input-container{
  background: #FAFAFA;
  width: 100%;
  padding: 14px 40px;
  border-radius: 5px;
  box-shadow: #3535351A 0px 5px 5px;
  input{
    outline: none;
    font-size: 24px;
    text-align: center;
    font-weight: 500;
    color: #212121;
    width: 100%;
    border: none;
    background: transparent;
  }
}
